.list-item {
	background: rgb(201, 192, 192);
	margin: 4px;
	border-radius: 10px;
	font-weight: bold;
}

.list-icon-right {
	position: absolute;
	right: 0;
}

.ingredient-amount-info {
	margin: 0 auto;
}

.ingredient-price-info {
	margin-right:10px;
}

.ingredients-footer {
	backgroud: #000;
}
